<div id="overlay"></div>
<div class='cupons_container'>
  <div class='main_menu_left'><%= render 'share/menu'%></div>
  <div class="cupons_container_content">
    <div class='main_header_up'><%= render 'share/header'%> </div>
    <div class="cupons_container_content_title">Editar Cupón</div>
    <div><%= render 'form_cupons' %> </div>
  </div>
</div>

