<div class="add_cupons_title">cupons form</div>

<div class="container">
	<div class="add_cupons_detalles_generales">
		<div class="add_cupons_detalles_generales_title">
			<h2>Detalles generales</h2>
		</div>

		<div class="detalles_generales_form">
			<div class="form-line">
				<label>Enlace de la oferta</label>
				<input> 
			</div>

			<div class="form-line">
				<label>Titulo</label>
				<input> 
			</div>

			<div class="form-line">
				<label>Descripci贸n</label>
				<input> 
			</div>

			<div class="form-line">
				<label>Ciudad</label>
				<input> 
			</div>

			<div class="form-line">
				<label>Subir imagen usando link</label>
				<input> 
			</div>

			<div class="form-line">
			<label>Tipo de publicaci贸n</label>

			</div>
				<select name="type">
					<option>Elige una opci贸n</option>
					<option >Cup贸n</option>
					<option >Oferta</option>
				</select>
		</div>
	</div>		

	
</div>