<div class='showCupons_container'>
  <div class='main_menu_left'><%= render 'share/menu'%></div>
  <div class='showCupons_content'>
    <div class='main_header_up'><%= render 'share/header'%></div>
    <div class='showCupons_content_detaills'>
      <div class='area'>
        <div class='area_image'><img src='https://promocards.byspotify.com/assets/meta/artists-twitter-en.png'/></div>
        <div class='area_map'><iframe src="https://www.google.com/maps?q= <%=@cupon.location%>&output=embed"></iframe> </div>
      </div>
      <div class='area'>
        <div class='area_data'>
          <h2>Promoción de Oxxo</h2>
          <mark>Vigente</mark>

          <div class='area_data_container'>
            <div class='area_data_content'>
              <p>-20%</p>
              <p>$123.00</p>
            </div>
            <button>ver</button>
          </div>
        </div>
        <div class='area_description'>
          <h3>Descripción:</h3>
          <p>Paquete de palomitas de regalo en la compra de un helado, para que puedas dissfrutar de mejor manera la pelicula.</p>
        </div>
      </div>
    </div>
  </div>
</div>

