.add_cupons{

	&_container {
		display: flex;
		justify-content: space-around;
	}

	&_subtitle {
		font-size: 2.7rem;
		font-weight: 400;

		&:first-child {
			margin-bottom: 2rem;
		}

		&:last-child {
			margin-top: 2rem;
		}
	}

	&_detalles {
		
		&_precios {
			display: flex;
			flex-direction: column;
			font-style:oblique;
			margin-top: .5rem;

			&_input {
				font-size: 1.5rem;
				width: 30%;
			}
		}

		&_cupon {
			display: flex;
			flex-direction: column;
			margin: 3rem 0 2rem 0;
		}

		&_finales {

			&_content {
				
			}

			&_fechas {
				display: flex;
				flex-direction: column;
				
				&_input {
					width: 30%;
				}
			}
		}
	}
}
* {
	background-color: $background;
	font-style: none;
	margin: 0px;
	padding: 0px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: start;
}

.add_cupons_detalles_generales {
	display: flex;
	flex-direction: column;
}

.add_cupons_detalles_generales_title {
	display: flex;
	justify-content: center;

	h2 {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 500px;
		font-size: 36px;
		line-height: 55px;
	}
}

.detalles_generales_form {
	display: flex;
	flex-direction: column;
	margin-left: 5px;

	.form-line {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 20px;

		label {
			background: $background;
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			width: 129px;
		}

		input {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 11px 16px;
			gap: 10px;
			width: 377px;
			height: 15px;
			border: 1px solid #BFBFBF;
			border-radius: 8px;
		}
	}
}

@media (min-width: 426px) {


	.container {
		text-align: start;
	}

	.add_cupons_detalles_generales {
		display: flex;
		flex-direction: column;
	}

	.add_cupons_detalles_generales_title {
		display: flex;
		justify-content: flex-start;

		h2 {
			font-family: 'Nunito';
			font-style: normal;
			font-size: 30px;
			
		}
	}

	.detalles_generales_form {
		display: flex;
		flex-direction: column;
		margin-left: 5px;

		.form-line {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			margin-bottom: 20px;

			label {
				background: $background;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				color: #000000;
				width: 129px;
			}

			input {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: 11px 16px;
				gap: 10px;
				width: 377px;
				height: 15px;
				border: 1px solid #BFBFBF;
				border-radius: 8px;
			}
		}
		
		select{
			width: 40%;
		}
	}
}
