.add_cupons {

	&_container {
		display: flex;
		justify-content: space-around;
	}

	&_subtitle {
		font-size: 2.7rem;
		font-weight: 400;

		&:first-child {
			margin-bottom: 2rem;
		}

		&:last-child {
			margin-top: 2rem;
		}
	}

	&_detalles {

		&_precios {
			display: flex;
			flex-direction: column;
			font-style: oblique;
			margin-top: .5rem;

			&_input {
				border: 1px solid #BFBFBF;
				font-size: 1.5rem;
				width: 30%;
			}
		}

		&_cupon {
			display: flex;
			flex-direction: column;
			margin: 3rem 0 2rem 0;
		}

		&_finales {

			&_content {
				display: flex;
				margin-bottom: 2rem;

				&_buttons {
					align-self: center;
					border-radius: 2rem;
					font-size:large;
					font-weight: 400;
					margin-top: 0;

					&:first-child {
						margin-right: .4rem;
						padding: .8rem;
					}

					&:last-child {
						background-color: $color-susseful;
						color: $color-white;
						margin-left: .4rem;
						padding: .8rem 1rem 1.8rem 1rem;
						text-align: center;
					}
				}
			}

			&_fechas {
				display: flex;
				flex-direction: column;
				padding: 0;
				width: 30%;

				&_input {
					border: 1px solid #BFBFBF;
					width: 55%;
				}
			}
		}
	}

	&_detalles_generales {
		display: flex;
		flex-direction: column;

		&_subtitle {
			font-size: 2.7rem;
			font-weight: 400;
		}

		&_form {
			display: flex;
			flex-direction: column;
			margin-left: 5px;
		}

		&_content {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			&_link {
				border: 1px solid #BFBFBF;
				width: 100%;
			}

			&_titulo {
				border: 1px solid #BFBFBF;
				width: 30%;
			}

			&_descripcion {
				border: 1px solid #BFBFBF;
				height: 4rem;
				width: 100%;
			}

			&_ciudad {
				border: 1px solid #BFBFBF;
				width: 30%;
			}

			&_imagen {
				border: 1px solid #BFBFBF;
				width: 30%;
			}
		}

		&_tipo {
			display: flex;
			flex-direction: column;

			&_options {
				display: flex;
				flex-direction: row;
				justify-content:space-around;
				width: 50%;

				&_values {
					height: 1rem;
					width: 1rem;
				}
			}
		}
	}
}

.input_border-color {
	border: 1px solid #BFBFBF;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: start;
}
