h2 {
    font-size: 80px;
    text-align: center;
}

.field {
    font-size: 30px;
    padding-top: 20px;
    background-color: $color3;
}

.actions {
    background-color: $color3;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 25px;
}

.form_box {
    background-color: $color3;
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-top: 20px;
}

input {
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 5px;
    height: 25px;
    width: 300px;
}

label {
    background-color: $color3;
}

a:link, a:visited {
    background-color: $color3;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover, a:active {
    background-color: $color4;
}

.a_login_singup {
    background-color: $color3;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}