html, body {
    height: 100%;
    overflow: hidden;
}

.a_login_singup_recobery {
    background-color: $blue;
    text-align: center;
}

.actions_recobery input {
    background-color: $orange;
    border-radius: 22px;
    height: 35px;
    margin-top: 2%;
    width: 300px;
	}
	
	.buttom input:hover {
		background-color: $blue;
	}

	.container_recobery {
		align-items: center;
    background-image: $bg;
    background-size: cover;
    display: block;
    height: 67.52rem;
    justify-content: center;
    padding-top: 3%;
    text-align: center;
		
		a:link,
		a:visited {
				align-items: center;
				background-color: $blue;
				border-radius: 22px;
				color: #000;
				display: inline-block;
				margin-top: 20px;
				padding: 14px 25px;
				text-align: center;
				text-decoration: none;
				width: 100px;
		}
		
		a:hover,
		a:active {
				background-color: $purle;
				color: aliceblue;
		}
		
		div .links {
				height: 115px;
				width: 400px;
		}
		
		h2 {
				font-size: 3rem;
				font-weight: bold;
				margin-bottom: 3%;
		}
}

.field_recobery {
    font-size: 30px;
    padding-top: 20px;
}

.form_box_recobery {
    -moz-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);
    align-items: center;
    background-color: $yellow;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    border-radius: 10px;
    box-shadow: -2px -2px 25px -2px rgba(255, 255, 255, 0.85);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 30%;
     /* Fallback color */
     /* Black w/opacity/see-through */
    //

		label {
			background-color:transparent;
			color: white;
		}
}

.field_recobery input:focus:first-child {
    background-color: aliceblue;
}

.holder_recobery {
    font-size: 1rem;
    padding-left: 3%;
}

.field_recobery input {
    background-color: aliceblue;
    border-radius: 22px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.field_recobery input:focus{
    background-color: aliceblue;
}

.form_users {
    justify-content: space-evenly;
}

@media only screen and (max-width: 811px) {
	
	.phone {
		display: block;
		text-align: center;
		width: 95%;
	}
	
	.container-recobery {
		padding-bottom: 20.5%;
		padding-top: 1%;
		
			a:active {
					background-color: $orange;
			}
			
			a {
					font-size: 1rem;
			}
  }

    .field_recobery input {
        width: 260px;
    }

    .actions_recobery input{
        width: 260px;
    }

    .form_box_recobery {
        margin-top: 30%;
    }
}