.showCupons {
  
  &_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  #overlay {
    background-color: $black-gray;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
   }

  &_content {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    overflow-y: scroll;
    width: 100%;
    
    &_detaills {
      background-color: $gray-white;
      border-radius: 9px;
      flex-direction: column;
    
      .area {
        display: flex;
        flex-direction: column;
        margin: .5rem;

        &:first-child{
          flex-direction: row;

          @include smallxs {
            flex-direction: column;
          }
        }

        &_image {
          align-items: center;
          display: flex;
          justify-content: center;
          width: 40%;

          @include smallxs {
            width: 100%;
          }

          &_content {
            height: 80%;
            width: 60%;

            @include smallxs {
              height: 90%;
              width: 100%;
            }

            img {
              border-radius: 15px;
              height: 100%;
              object-fit: contain;
              width: 100%;
            }
          }
        }

        &_data {
          align-items: center;
          display: flex;
          justify-content: center;
          padding: .5rem;
          width: 60%;

          @include smallxs {
            width: 100%;
          }

          &_container {
            border-radius: 9px;
            box-shadow: 1px 4px 10px $grey;
            padding: .5rem;
            width: 90%;

            h2 {
              font-size: 1.4rem;
              font-weight: 400;
              width: 70%;
            }

            button {
              color: $white;
              
              &:last-child {
                align-self: center;
                background-color: $black-brown;
                border-radius: 22px;
                border: none;
                padding: .7rem .8rem;
              }
            }

            .creator {
              border-radius: 7px;
              display: flex;
              justify-content: space-between;
              padding: .5rem 0;

              .follos {
                border-radius: 7px;
                border: 1px solid $input-border ;
                box-shadow: .5px 1.5px 3px $grey;
                display: flex;
                flex-direction: column;
                padding: .5rem;
              }

              .heart {
                align-items: center;
                background-image: url('heart.svg');
                background-size:  4rem;
                box-shadow: 0px -1.5px 6px $red;
                border-radius: 9px;
                display: flex;
                height: 4rem;
                justify-content: center;
                margin: -1.1rem 1rem 0 0;
                width: 4rem;
                
                .likes {
                  color: $red;
                  font-size: 18px;
                }
              }
            }

            .cupon_state {
              display: flex;
              flex-direction: row;

              .size {
                border-radius: 22px;
                font-size: .8rem;
                margin: .2rem;
                padding: .2rem .4rem;
              }

              .expired {background-color: $pink-white;}
              .valid {background-color: $greenyellow;}
            }

            .important_data {
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            }

            .price {
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              margin-right: 2rem;

              &_percentage {
                background-color: $pink-white;
                border-radius: 22px;
                padding: .2rem;
              }

              &_normal {
                font-size: .9rem;
              }

              &_discount {
                font-size: 2.2rem;
              }

              p,s {
                margin-left: 1.4rem;
              }
            }

            &_puntuation {
              display: flex;
              justify-content: space-between;
              padding: 1.5rem;
              
              button {
                background: none;
                border-radius: 15px;
                border: none;
              }
  
              #likeboton,
              #dislikeboton {
                cursor: pointer;
                padding: .5rem .5rem;
              }
  
              img {
                display: flex;
                height: 3rem;
                justify-content: center
              }
  
              #likeboton.desactivado {
                background-color: $color-likebutton;
                cursor: not-allowed;
                cursor: pointer;
              }
  
              #dislikeboton.desactivado {
                background-color: $color-dislikebutton;
                cursor: not-allowed;
                cursor: pointer;
              }
  
              @include smallxs {
                padding: 0%;
              }
  
              @include large {
                justify-content: space-evenly
              }
            }

            &_url {
              display: flex;
              justify-content: center;
              margin-bottom: 1rem;

              button {
                padding: 0.5rem 0.5rem;
                width: 10rem;
              }
              
              a {
                align-items: center;
                color: $white;
                font-size: 20px;
                justify-content: center;
                text-decoration: none;
              }
            }
          }
        }

        &_map {
          height: 14rem;
          margin-top: .2rem;
          padding: 1rem;

          @include smallxs {
            height: 16rem;
          }
          
          iframe {
            border-radius: 7px;
            border: none;
            height: 100%;
            width: 100%;
          }
        }

        &_description {
          border-radius: 7px;
          box-shadow: 1px 7px 12px $grey;
          font-weight: 300;
          margin: 1rem;
          padding: .7rem;
          
          h3 {
            opacity: 50%;
          }

          p {
            opacity: 90%;
            padding: .8rem;
          }
        }
      }
    }
  }
}

