html, body{
    height: 100%;
    overflow: hidden;
}

.main-container-sign-up {
    align-items: center;
    background: $bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 5rem 30rem 5rem;
}

.form-sign-up {
    align-items: center;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 11px;
    box-shadow: -2px -2px 25px -2px rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 20rem;
    -moz-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);
}

.form-sign-up h2 {
    color: white;
    font-size: 3rem;
}

.form-sign-up input {
    border-radius: 22px;
    border: 0px;
    font-size: 1rem;
    margin: 1rem;
    padding: .7rem;
    width: 80%;
}

.links-sign-up {
    align-content: center;
    margin: 0px;
    padding: .3rem;
    text-align: center;
    width: 80%;
}

.links-sign-up a:first-child{
    background-color: $color2;
    border-radius: 22px;
    font-size: 1rem;
    margin: 0px;
    padding: .2rem;
    width: 83%;
    
}
.links-sign-up a:first-child:hover{
    background-color: $color1;
}
.form-button-sign-up {
    padding: 0px;
    text-align: center;
    width: 85%;
    input {
    background-color: $color4;
    padding: .2rem;
    }
    
}

@media (max-width: 426px) {
    html, body{
        overflow: hidden;
    }
    .main-container-sign-up {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 30rem;
        justify-content: center;
        padding: 4rem 2rem 30rem .8rem;
        width: 100%;
        
        .form-sign-up {
            align-items: center;
            background-color: $bg;
            border-radius: 11px;
            display: flex;
            flex-direction: column;
            margin: 0px;
            width: 80%;
        }
    }
}
