* {
  background-color: $background;
  font-style: none;
  margin: 0px;
  padding: 0px;
}
.container_log_in {
  background: $background;
  height: 45.45rem;
  padding: 5.6rem;
}

.logo {
  background-color: $color3;
  display: grid;
  place-items: center;
}
.container_login h2 {
  background-color: $color3;
  font-size: 50px;
  margin: 0px;
  text-align: center;
}

.form_users {
  -moz-box-shadow: 9px 9px 23px -6px rgba(0,0,0,0.85);
  -webkit-box-shadow: 9px 9px 23px -6px rgba(0,0,0,0.85);
  background-color: $color3;
  border-radius: 10px;
  box-shadow: 9px 9px 23px -6px rgba(0,0,0,0.85);
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  width: 40%;
}

.holder-login:placeholder-shown {
  font-size: 1rem;
  padding: .7rem;
}

.holder-password:placeholder-shown {
  font-size: 1rem;
  padding: .7rem;
}

.field {
  background-color: $color3;
}

.field input{
  border-radius: 22px;
  border: 0px;
  font-size: 1rem;
  padding: .7rem;
  width: 70%;
}
.field input:focus:first-child {
  background-color: aqua;
}

.actions {
  background-color: $color3;
  text-align: center;
}

.actions input{
  background-color: $color2;
  border-radius: 22px;
  border: 0px;
  font-size: 1rem;
  margin: 0px;
  text-align: center;
  width: 77%;
}

.buttom input:hover {
  background-color: $color4;
  transition: 1.5s ease;
}

.links {
  align-items: center;
  background-color: $color3;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.links a{
  background-color: $color4;
  background-color: $color5;
  border-radius: 22px;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  height: .5rem;
  padding: .4rem;
  width: 60%;
}
.links a:first-child {
  background-color: $color4;
  border-radius: 22px;
  border: 0px;
  font-size: 1rem;
  height: .07rem;
  margin: 0px;
  padding: 0px;
  padding: 1rem;
  width: 62%;
}

.links a:last-child {
  background-color: $color4;
  border-radius: 22px;
  border: 0px;
  border: 20rem;
  font-size: 1rem;
  height: .07rem;
  margin: 0px;
  padding: 0px;
  padding: 1rem;
  width: 62%;
}


a {
  background-color: rgba(180, 150, 197, 0.151);
  transition: 1.5s ease;
}

label {
  background: $color3;
  width: 26rem;
}

@media screen and (max-width: 800px){
  
  .container_log_in {
    padding: 20% 0 100% 0;
    height: 26.30rem;
  }

  h2 {
    font-size: 50px;
    margin: .7rem;
    text-align: center;
  }

  .form_users {
    width: 70%;
  }

  .logo {
    width: 80%;
  }
  a {
    font-size: .8rem;
  }
}
