
* {
  font-style: none;
  margin: 0px;
  padding: 0px;
}
.container_log_in {
  background-size: cover;
  background: $bg;
  height: 100%;
  padding-bottom: 22rem;
  padding: 5.6rem;
  .buttom input{
    height: 2rem;
  }
  
}

.logo {
  display: grid;
  place-items: center;
}
.container_login h2 {
  color: white;
  font-size: 3rem;
  margin: 0px;

}

.item {
  padding: .5rem;
  width: 18rem;
}
.form_users {
  background-color: rgba(0,0,0, 0.6);
  border-radius: 10px;
  box-shadow: -2px -2px 25px -2px rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  width: 40%;
  -moz-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: -2px -2px 23px -2px rgba(255, 255, 255, 0.85);;
}

.field-log-in input{
  border-radius: 22px;
  border: 0px;
  font-size: 1rem;
  padding: .7rem;
  width: 70%;
}

.actions-log-in input{
  background-color: $color4;
  border-radius: 22px;
  border: 0px;
  font-size: 1rem;
  margin: 0px;
  text-align: center;
  width: 77%;
}


.links-log-in a:first-child {
  background-color: $color2;
  border-radius: 22px;
  border: 0px;
  border: 20rem;
  font-size: 1rem;
  height: .7rem;
  margin-top: 0px;
  text-align: center;
  width: 11rem;
}

.links-log-in a:first-child:hover {
  background-color: $color1;
  color: white;
  transition: 1s ease;
}

.links-log-in a:last-child {
  background-color: $color2;
  border-radius: 22px;
  border: 0px;
  border: 20rem;
  font-size: 1rem;
  height: .7rem;
  margin-top: 1rem;
  text-align: center;
  width: 11rem;
}

.links-log-in a:last-child:hover {
  background-color: $color1;
  color: white;
  transition: 1s ease;
}

@media screen and (max-width: 1299px){

  .container_log_in {
    padding: 10% 10% 100% 10%;
  }

  .container_login h2 {
    font-size: 50px;
    margin: .7rem;
    text-align: center;
  }

  .form_users {
    width: 60%;
  }

  .logo {
    width: 60%;
  }
  
  .links-log-in a {
    font-size: .8rem;
  }
}

@media screen and (max-width: 1000px){
  .logo {
    width: 80%;
  }
  
}
