
$color1 : #7e5686;
$color2 : #a5aad9;
$color3 : #e8f9a2;
$color4 : #f8a13f;
$color5 : #ba3c3d;
$color6 : #000000;

$background: $color2;

$titles: $color6;

// $box-shadow: 3px 3px 8px hsl($hue-color, 19%, 67%), -3px -3px 8px hsl($hue-color, 9%, 87%);

// .color1 { #e7eed0 };
// .color2 { #cad1c3 };
// .color3 { #948e99 };
// .color4 { #51425f };
// .color5 { #2e1437 };

// dracula
// .color1 { #1a2b2b };
// .color2 { #332222 };
// .color3 { #4d1a1a };
// .color4 { #661111 };
// .color5 { #800909 };

