$color1 : #7e5686;
$color2 : #a5aad9;
$color3 : #f8e479;
$color4 : #f8a13f;
$color5 : #ba3c3d;
$color6 : #000000;
$color10: #e8f9a2af;

$purle : #7e5686;
$blue : #a5aad9;
$yellow : #f8e479;
$orange : #f8a13f;
$red : #ba3c3d;
$black : #000000;
$green-yellow: #e8f9a2af;

$background: linear-gradient(210deg, rgba(165,170,217,1) 0%, rgba(248,161,63,1) 50%, rgba(186,60,61,1) 100%);
$titles: $color6;
$bg: url("bg1.png")