<div class="main_cupons_carrusel_slider">
  <figure>
    <% @cupons.each do |cupon| %>
      <%= link_to cupon_path(cupon.id) do %>
        <%= if cupon.image_url == ""
          image_tag "coupon_defaul.webp"
        else
          image_tag cupon.image_url
        end %>
        <span>Ver</span>
      <% end %>
    <% end %>
  </figure>
</div>
