<div class="conteiner_category">
  <div class="category_box">
    <h2 class="admin_menu_title">Admin Menu</h2>
    <%= link_to categories_path do %>
      <input class="add_category" type="button" value="Add Category">
    <% end %>
  </div>
</div>