<ul class="main_cupons_content_promotions">
  <% @cupon.each do |cupon| %>
    <li>
      <div class="box" >
        <%=
          if cupon.image_url == "" 
            image_tag "coupon_defaul.webp"
          else 
            image_tag cupon.image_url 
          end 
        %>
        <div class="information">
          <h1><%= cupon.title %></h1>
          <p><%= cupon.description %></p>
        </div>
        <%= link_to new_cupon_path do %>
          <div class="button_container">
            <button>ver</button>
          </div>
        <% end %>
      </div>
    </li>
  <%end%>
</ul>
