<ul class="main_cupons_content_promotions">
  <li>
    <div class="box">
      <div class="information">
        <h1>Título</h1>
        <p>Descripción: información random Descripción: información random</p>
      </div>
      <div class="button_container">
        <button>ver</button>
      </div>
    </div>
  </li>
  <li>
    <div class="box">
      <div class="information">
        <h1>Título</h1>
        <p>Descripción: información random Descripción: información random</p>
      </div>
      <div class="button_container">
        <button>ver</button>
      </div>
    </div>
  </li>
  <li>
    <div class="box">
      <div class="information">
        <h1>Título</h1>
        <p>Descripción: información random Descripción: información random</p>
      </div>
      <div class="button_container">
        <button>ver</button>
      </div>
    </div>
  </li>
  <li>
    <div class="box">
      <div class="information">
        <h1>Título</h1>
        <p>Descripción: información random Descripción: información random</p>
      </div>
      <div class="button_container">
        <button>ver</button>
      </div>
    </div>
  </li>
</ul>
