<ul class="main_cupons_content_promotions">
  <% @cupon.each do |cupon| %>
    <li>
        <div class="box" >
         <%= image_tag cupon.image_url %>
          <div class="information">
            <h1><%= cupon.title %></h1>
            <p><%= cupon.description %></p>
          </div>
          <div class="button_container">
              <button>ver</button>
          </div>
        </div>
    </li>
  <%end%>
</ul>
