<div class="header_container">
  <div class="serch_bar">
    <input class="bar" type="text">
    <input class="serch" type="submit" value="Search">
  </div>
  <div class="add_announce">
    <h2 class="label_announce">Add Announce</h2>
    <input class="add" type="button" value="+">
  </div>
  <div class="buttons_container">
    <input class="login_header" type="button" value="Login">
    <input class="sign_up_header" type="button" value="Sing Up">
  </div>
</div>
