
<nav class="nav-bar">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Categories</a>
      <ul>
        <li class="sub-categori"><a href="#">Electronica</a></li>
        <li class="sub-categori"><a href="#">Video Juegos</a></li>
        <li class="sub-categori"><a href="#">Linea Blanca</a></li>
      </ul>
    </li>
    <li><a href="#">Recientes</a></li>
  </ul>
</nav>