
<div class = "side-bar">
  <div class = "container-logo">
    <%= image_tag 'logo02.png', class: "icon_logo02"%>
  </div>
  
  <div class = "menu">
    <div class = "item">
      <a class= "sub-btn" href="#"><%= image_tag 'home.svg', class: "icons_menu"%>Inicio</a>
    </div>
    <div class = "item">
      <a class= "sub-btn" href="#"><%= image_tag 'categories.svg', class: "icons_menu"%>Categories</a>
      <div class="sub-menu">
        <a class= "sub-item" href="#">Electronic</a>
        <a class= "sub-item" href="#">Games</a>
        <a class= "sub-item" href="#">Line White</a>
      </div>
    </div>
    <div class = "item">
      <a class= "sub-btn" href="#"><%= image_tag 'recientes.svg', class: "icons_menu"%>Recientes</a>
    </div>

  </div>
</div>

<script type = "text/javascript">
  $(document).ready(function(){
  $('.sub-btn').click(function(){
    $(this).next('.sub-menu').slideToggle();

  });
});
</script>
<%# <nav class="nav-bar">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Categories</a>
      <ul>
        <li class="sub-categori"><a href="#">Electronica</a></li>
        <li class="sub-categori"><a href="#">Video Juegos</a></li>
        <li class="sub-categori"><a href="#">Linea Blanca</a></li>
      </ul>
    </li>
    <li><a href="#">Recientes</a></li>
  </ul>
</nav> %>