<div class="noFound">
  <div class="noFound_card">
    <% if params[:search].present? %>
      <h2>Resultado no encontrado!!</h2>
      <h3>¯\_(ツ)_/¯</h3>
      <h4>Por favor intente con otro nombre</h4>
    <% elsif params[:category_id].present? %>
      <h2>Esta categoría se encuentra vacía!!</h2>
      <h3>( ●︿● )</h3>
    <% elsif params[:cupon].present? %>
      <h2>Actualmente no tiene registros</h2>
      <h3>( ಠ ʖ̯ ಠ )</h3>
    <% elsif params[:following].present? %>
      <h2>Empieza a seguir usuarios</h2>
      <h3>( ⩾﹏⩽ )</h3>
    <% elsif params[:users].present? %>
      <h2>Sin usuarios actuales</h2>
      <h3>( 눈_눈 )</h3>
    <% else %>
      <h2>Sin registros actuales</h2>
      <h3>( Ծ‸ Ծ )</h3>
    <% end %>
  </div>
</div>

