<div class='main_container'>
  <div class='main_menu_left'><%= render 'share/menu'%></div>
  <div class='main_content'>
    <div class='main_header_up'><%= render 'share/header'%> </div>
    <div class='main_cupons_container'>
      <div class='main_cupons_content'><%= render 'content'%></div>
      <div class='main_cupons_bar_right'><%= render 'category'%></div>
    </div>
  </div>
</div>

